*,
body {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  margin-left: unset !important;
  margin-right: unset !important;
}

/* Custom Height and Card */

#auto-height-cust {
  height: 470px !important;
  border: 1px solid #cacaca;
  padding: 5px;
  border-radius: 13px;
}

#auto-height-cust img {
  height: 75% !important;
}

#auto-height-cust .card-title.h5 {
  font-size: 0.8rem;
}

#auto-height-cust .card-body small {
  font-size: 12px;
  padding-left: 5px;
}

#auto-height-cust .card-body svg {
  font-size: 13px;
}

#auto-height-cust .card-text {
  color: red;
  margin: unset !important;
  font-weight: bolder;
  font-size: 0.7rem !important;
}

/* Custom Height and Card */

/* Trending cards */
.star-rating-tranding {
  text-align: right;
}

/* Trending cards */

.container {
  margin: 10px;
  padding: 20px;
}

/* Home Card */
.home-card-layout {
  margin: 20px 0;
}

.home-card-layout .card {
  display: block;
  margin: auto;
  border: unset;
  outline: unset;
  background: transparent;
}

.home-layout-hightlight-menu {
  border: 2px solid #cacaca;
  padding: 20px;
  text-align: center;
}

.borderDesign {
  border: 1px solid #cacaca;
  padding: 10px;
  margin: 0 0 20px 0;
  margin-top: 3%;
}

.borderDesign:not(:first-child) {
  margin-top: 1% !important;
}

.borderDesign .row {
  /* background-color: #13a59e; */
  /* margin-top: 2%; */
}

.category-div {
  padding: 40px 0;
  background-color: #cacaca;
}

.slideReviews {
  height: auto;
  width: 100px;
  /* padding: 20px; */
  text-align: center;
}

.slideReviews a {
  display: block;
  padding: 5px;
  border: 1px solid black;
}

.slideReviews h6 {
  font-size: 21px;
}

.slideReviews img {
  display: block;
  margin: auto;
  height: 100%;
  width: 95%;
}

.slick-prev:before {
  color: black !important;
}

.slick-next:before {
  color: black !important;
}

#checkout_details {
  margin: 10px 0;
}

/* Home Card  */
.homeSmallCard {
  /* background-color: gray; */
  /* color: white; */
  min-height: 58vh;
}

.homeSmallCard .smallCardBody {
  position: relative;
  height: 300px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  color: #323146;
  align-items: center;
  justify-content: center;
  /* padding-top: 2%; */
}

.homeSmallCard .occasionCard .col-md-10 {
  padding-left: 36px;
}

.homeSmallCard .occasionCard button {
  color: black;
  border-radius: 0 0 10px 10px !important;
}

.homeSmallCard .occasionCard .explore_more_categories button {
  border-radius: 10px !important;
  border: 1px solid !important;
  font-weight: 600;
}

.homeSmallCard .occasionCard .col-4.d-flex.flex-column {
  padding: 0px 10px 0px 10px !important;
}

.homeSmallCard .occasionCard button:hover {
  background-color: #bd1f1f !important;
  color: white;
  transition: all 1s;
}

.homeSmallCard .smallCardBody .cardBody {
  display: inline-block;
  width: 17.5%;
  background-color: #cbcfd2;
  height: 180px;
  border-radius: 10px;
  margin: 12px -21px 0px 30px;
  padding: 10px;
}

.homeSmallCard .smallCardBody .cardBody:nth-child(1),
.homeSmallCard .smallCardBody .cardBody:nth-child(2),
.homeSmallCard .smallCardBody .cardBody:nth-child(3),
.homeSmallCard .smallCardBody .cardBody:nth-child(4),
.homeSmallCard .smallCardBody .cardBody:nth-child(5) {
  margin-bottom: 1%;
}

.homeSmallCard .smallCardBody .cardBody .img-content {
  font-size: 14px;
  font-weight: 600;
  padding-top: 3%;
}

.homeSmallCard .smallCardBody .cardBody .img-body {
  height: 80%;
  width: 100%;
}

.homeSmallCard .smallCardBody .cardBody .img-body img {
  height: 100%;
  width: 100%;
}

.custom-design {
  display: flex;
  vertical-align: top;
  height: 330px !important;
  border-radius: 5px;
  background-size: cover;
  background-position: center;
  background-repeat: round;
  border: 0.5px solid whitesmoke !important;
  border-radius: 10px !important;
}

.custom-design:nth-child(even) {
  height: 150px !important;
}

.one .custom-design:nth-child(1) {
  background-image: url(https://www.whatsappimages.in/wp-content/uploads/2021/06/Free-Happy-Birthday-Cake-Images-Wallpaper.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px 10px 10px 10px;
}

.one .custom-design:nth-child(2) {
  background-image: url(https://media.gettyimages.com/photos/baby-cupcakes-picture-id155385517?k=20&m=155385517&s=612x612&w=0&h=azbmhU6nl_sP94M251Mik-GRusWH-tZZkAh3olQPWv4=);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.two .custom-design:nth-child(1) {
  background-image: url(https://cdn.shopify.com/s/files/1/0569/2614/2657/products/DSC_1277_400x.jpg?v=1657705865);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.two .custom-design:nth-child(2) {
  background-image: url(https://www.happywedding.app/blog/wp-content/uploads/2019/09/Personalized-DIY-gift-ideas-for-wedding-couples-1024x583.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.three .custom-design:nth-child(1) {
  background-image: url(https://imgcdn.floweraura.com/awesome-hubby-wifey-mugs-9894750sd-A.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.three .custom-design:nth-child(2) {
  background-image: url(https://cdn.thewirecutter.com/wp-content/media/2021/01/online-flowers-2048px-0469-2x1-1.jpg?auto=webp&quality=75&crop=2:1&width=1024);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.custom-design button {
  border-radius: 0px 0px 5px 5px !important;
}

.custom-design button:hover {
  color: white;
  background-color: #198754 !important;
}

/* Customer Card Reviews */
.customer-cards .customer_cards_rating_heading {
  margin-top: 2%;
  text-align: center;
}

.customer-cards .customer-card-section {
  padding: 16px;
  border: 1px solid #cacaca;
  display: flex;
  margin: 10px;
  box-shadow: 0px 0px 13px 2px #cacaca;
  border-radius: 12px;
}

.customer-cards .customer-card-section .left-card .card-star svg {
  font-size: 15px;
}

.customer-cards .customer-card-section .left-card .left-card-img {
  height: 100px;
  border-radius: 10px;
  width: 100px;
  overflow: hidden;
}

.customer-cards .customer-card-section .left-card .left-card-img img {
  height: 100%;
  width: 100%;
}

.customer-cards .customer-card-section .right-card {
  padding: 5px 10px;
}

.customer-cards .customer-card-section .right-card div {
  margin-top: 17%;
}

.customer-cards .customer-card-section .right-card .red-mark-statement {
  font-size: 11px;
  color: rgb(130, 8, 8);
  font-weight: bold;
  width: 70%;
}

.customer-cards .customer-card-section .right-card .personName {
  font-size: 12px;
  font-weight: bold;
  text-align: right;
}

.customer-cards .customer-card-section .right-card .productInfo p {
  font-size: 12px;
  margin-bottom: unset !important;
  color: red;
}

.view_all_btn {
  background-color: #000;
  color: white;
  border-radius: 8px;
  /* font-size: 14px; */
  display: inline-block;
  font-weight: bold;
  padding: 6px 0px;
  width: 6% !important;
  text-align: center;
  position: absolute;
  top: -27px;
  right: -10px;
}
